.row{
    margin-left: 20px;
    color: #fff
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: -20px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    cursor: pointer;
    max-height: 200px;
    margin-right: 5px;
}
.poster:hover{
    transform: scale(1.1);
}
.smallposter{
    cursor: pointer;
    max-height: 90px;
    margin-right: 5px;
}
.smallposter:hover{
    transform: scale(1.1);
}